.header-link>a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-weight: 500;
}

.header-link>a:hover {
    color: #2CC09C;
    transition: 0.5s;
}

@media only screen and (min-width: 0px) and (max-width: 567px) {

    .header-link {
        padding: 25px 0 15px 0;
    }

    .header-link>a {
        display: block;
        text-align: center;
        margin-right: 0;
        padding: 8px 0;
    }

}